/* 
Project Name: One Page Shopify Application
Client: Myself
Author: Melissa Mannion
*/

/******************************************
/* COLOURS
/*******************************************/

/*  #0033FF - vibrant blue
    #CEFECE - light pale green
    #FF9F1C - bright orange
    #000500 - not quite black
    #FFFFFF - white
    #F2FF49 - intense yellow
    #FF47DA - vibrant pink
*/

/******************************************
/* SENSIBLE DEFAULTS                   
/*******************************************/

* {
     box-sizing: border-box;
}
img {
	max-width:100%;
}

/******************************************
/* TYPOGRAPHY
/*******************************************/

@font-face {
    font-family: 'Edmondsans';
    src: url(../font/Edmondsans-Bold.otf);
}

body {
    color: #CEFECE;
    font-size: 22px;
    background-color: #0033FF;
    font-weight: 200;
    font-family: 'Rubik', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Edmondsans', sans-serif;
    margin: 0 auto;
}

h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 2em;
    text-transform: lowercase;
}

h3 {
    font-size: 1.75em;
    display: inline-block;
    font-style: italic;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.25em;
    margin-top: 1.5em;
    
}

a {
    font-weight:600;
    color: #FB62F6;
    text-decoration: none;    
}

p {
    font-weight: 200;
    letter-spacing: 1.15px;
    line-height: 1.5;
    padding: 2em;
}

/******************************************
/* LAYOUT                   
/*******************************************/


.site-header {
    margin: 1em 2.5em;
    display: flex;
    flex-wrap: wrap;
}

.site-content {
    width: 95%;
    margin:auto;
}

.image-wrap {
    height: 100%;
}

.rectangle {
    background-color: pink;
    display: block;
    
}

.rectangle img {
    margin-top: 1em;
    margin-left: 1em;
    margin-bottom: 1em;
}

.intro {
    background-color: #CEFECE;
    color: #0033EE;
    margin-left: 2em;
}

.intro p {
    padding: 2em;
}

.design-examples-wrap h3 {
    padding-bottom: 0.25em;
}

.design-examples-wrap h3 p {
    margin-left: 0.5em;
}

.design-examples-wrap p {
    background-color: #CDFECE;
    color: #0033EE;
    font-size: 0.8em;
}

.design-example-blackfriday {
    padding: 0.5em;
}


@media screen and (max-width:900px) {
    .intro {
        width: 100%;
        margin: 0 auto;
    } 
    
    .rectangle {
        margin-right: 0.5em;
    }
    
    
}

/****************************************
/*EXPIRED FOR NOW*
/****************************************/


.job-history {
    display: grid;
    position: absolute;
    left: 2em;
    right: 2em;
}

li { list-style: none;}

.job-info {
    width: 90%;
    padding: 0 1em;
    list-style: none;
    font-size: 18px;
    margin: auto;
    margin-top: 1em;
}

.job-info h5 {
    padding-top: 0.5em;
    font-size: 1.25em;
}

.job-role {
    margin-right: 4em;
}

.job-role span {
    font-weight: 200;
    float: right;
    padding: 0.25em;
    margin: 0.25em;
    display: inline-block;
    color: #0033EE;
    background-color: #CEFECE;
}


/******************************************
/* HELPER CLASSES
/*******************************************/


.is-hidden {
     display: none;
}
.is-visible {
     display: block;
}


/******************************************
/* ADDITIONAL STYLES                   
/*******************************************/




