/* 
Project Name: One Page Shopify Application
Client: Myself
Author: Melissa Mannion
*/

/******************************************
/* COLOURS
/*******************************************/

/*  #0033FF - vibrant blue
    #CEFECE - light pale green
    #FF9F1C - bright orange
    #000500 - not quite black
    #FFFFFF - white
    #F2FF49 - intense yellow
    #FF47DA - vibrant pink
*/

/******************************************
/* SENSIBLE DEFAULTS                   
/*******************************************/

* {
     box-sizing: border-box;
}
img {
	max-width:100%;
}

/******************************************
/* TYPOGRAPHY
/*******************************************/

body {
    color: #CEFECE;
    font-size: 22px;
    background-color: #0033FF;
    font-weight: 200;
}

h1, h2, h3, h4, h5 {
    font-family: 'Edmondsans', sans-serif;
    margin: 0 auto;
}

h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 2em;
    text-transform: lowercase;
}

h3 {
    font-size: 1.75em;
    display: inline-block;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.25em;
    margin-top: 1.5em;
    
}

a {
    font-weight:600;
    color: #FB62F6;
    text-decoration: none;    
}

p {
    font-family: 'Rubik', sans-serif;
    font-weight: 200;
    letter-spacing: 1.15px;
    line-height: 1.25;
}

/******************************************
/* LAYOUT                   
/*******************************************/


.site-header {
    margin: 1em 2.5em;
    display: flex;
    flex-wrap: wrap;
}

.site-content {
    display: flex;
    position: relative;
}

.gist-blurb {
    width:85%;
    position: relative;
    margin: 0 auto;
    background-color: #CEFECE;
    color: #0033EE;
    z-index: 10;
}

.gist-blurb p {
    padding: 1em 2em;
}

.wrap-section-1 {
    position:relative;
}

.wrap-section-1 img {
    margin-top: -2.5em;
}

.job-history {
    display: grid;
    position: absolute;
    left: 2em;
    right: 2em;
}

li { list-style: none;}

.job-info {
    width: 90%;
    padding: 0 1em;
    list-style: none;
    font-size: 18px;
    margin: auto;
    margin-top: 1em;
}

.job-info h5 {
    padding-top: 0.5em;
    font-size: 1.25em;
}

.job-role {
    margin-right: 4em;
}

.job-role span {
    font-weight: 200;
    float: right;
    padding: 0.25em;
    margin: 0.25em;
    display: inline-block;
    color: #0033EE;
    background-color: #CEFECE;
}

.site-footer {

}

/*
@media screen and (min-width:888px) {

    .gist-blurb {
        width: 70%;
        margin: 0 auto;
        position:relative;
    }
    
    .img-wrap {
        padding: 6em 0;
    }
*/
}

/******************************************
/* HELPER CLASSES
/*******************************************/

/* Clearfix */
.clearfix:before,
.clearfix:after {
     content: " ";
     display: table;
}
.clearfix:after {
     clear:both;
}

.is-hidden {
     display: none;
}
.is-visible {
     display: block;
}


/******************************************
/* ADDITIONAL STYLES                   
/*******************************************/




